<div class="container-fluid vh-100">
<div class="row h-100">

  <!-- LEFT SIDE -->
  <div class="col-md-6 d-flex justify-content-center align-items-center"
       style="background: linear-gradient(180deg, #00eaff 0%, #0066ff 100%);">

    <h1 class="text-white fw-bold" style="font-size:60px; letter-spacing:3px;">
      TASK FLOW
    </h1>

  </div>

  <!-- RIGHT SIDE -->
  <div class="col-md-6 d-flex justify-content-center align-items-center bg-light">

    <div class="card p-4 shadow" style="width:400px;">
      <h3 class="text-center mb-4">Login</h3>

      <form [formGroup]="form" (ngSubmit)="login()">

        <!-- EMAIL -->
        <div class="mb-3">
          <input class="form-control"
                 placeholder="Email"
                 formControlName="email">

          <div class="text-danger small mt-1"
               *ngIf="form.get('email')?.touched && form.get('email')?.errors">

            <span *ngIf="form.get('email')?.hasError('required')">
              Email is required
            </span>

            <span *ngIf="form.get('email')?.hasError('email')">
              Wrong email format
            </span>

          </div>
        </div>

        <!-- PASSWORD -->
        <div class="mb-3">
          <input type="password"
                 class="form-control"
                 placeholder="Password"
                 formControlName="password">

          <div class="text-danger small mt-1"
               *ngIf="form.get('password')?.touched && form.get('password')?.hasError('required')">
            Password required
          </div>
        </div>

        <button class="btn btn-primary w-100" type="submit">
          Login
        </button>

      </form>

      <div class="text-center mt-3">
        <a routerLink="/register">Create Account</a>
      </div>

    </div>

  </div>
</div>
</div>
