<div class="container-fluid vh-100">
<div class="row h-100">


  <div class="col-md-6 d-flex justify-content-center align-items-center"
       style="background: linear-gradient(180deg, #11998e 0%, #38ef7d 100%);">

    <h1 class="text-white fw-bold" style="font-size:60px;">
      TASK FLOW
    </h1>

  </div>

 
  <div class="col-md-6 d-flex justify-content-center align-items-center bg-light">

    <div class="card p-4 shadow" style="width:420px;">
      <h3 class="text-center mb-4">Register</h3>

      <form [formGroup]="form" (ngSubmit)="register()" novalidate>

       
        <div class="mb-3">
          <input class="form-control"
                 placeholder="Full Name"
                 formControlName="fullName">

          <div class="text-danger small mt-1"
               *ngIf="form.get('name')?.touched && form.get('name')?.hasError('required')">
            Name is required
          </div>
        </div>

      
        <div class="mb-3">
          <input class="form-control"
                 placeholder="Email"
                 formControlName="email">

          <div class="text-danger small mt-1"
               *ngIf="form.get('email')?.touched && form.get('email')?.errors">

            <span *ngIf="form.get('email')?.hasError('required')">
              Email required
            </span>

            <span *ngIf="form.get('email')?.hasError('email')">
              Wrong email format
            </span>

          </div>
        </div>

      
        <div class="mb-3">
          <input type="password"
                 class="form-control"
                 placeholder="Password"
                 formControlName="password">

          <div class="text-danger small mt-1"
               *ngIf="form.get('password')?.touched && form.get('password')?.errors">

            <span *ngIf="form.get('password')?.hasError('required')">
              Password required
            </span>

            <span *ngIf="form.get('password')?.hasError('minlength')">
              Minimum 8 characters
            </span>

          </div>
        </div>

     
        <div class="mb-3">
          <input type="password"
                 class="form-control"
                 placeholder="Confirm Password"
                 formControlName="confirmPassword">

          <div class="text-danger small mt-1"
               *ngIf="form.hasError('passwordMismatch') && form.get('confirmPassword')?.touched">
            Password not matched
          </div>

          <div class="text-danger small mt-1"
               *ngIf="form.get('confirmPassword')?.touched && form.get('confirmPassword')?.hasError('required')">
            Confirm password required
          </div>
        </div>

       
        <button class="btn btn-success w-100" type="submit">
          Create Account
        </button>

      </form>

      <div class="text-center mt-3">
        <a routerLink="/login">Back to Login</a>
      </div>

    </div>

  </div>
</div>
</div>
